.card {
  margin-top: 10px;
  width: 18rem;
}

.card-img-top {
  height: 300px;
  width: 300px;
  padding-top: 10px;
}
.card-title {
  font-size: 15px;
  height: 50px;
}
.card-subtitle {
  margin-top: 10px;
}
.price {
  float: right;
}
